body {
    background-color: #D7FFD9;
    color: #2600B2;

}


/* Page Header and links */

h1 {
    font-family: verdana;
    font-size: 300%;
    float: left;
    margin-right: 11%;
    color: #FF6E00;
}

.comboHeader {
    margin-left: 2%;
}

ul.titleLinks li {
    display: inline-block;
    margin-left: 10px;
    color: blue;
}

ul.titleLinks {
    float: left;
    margin: 60px 0% 0% 0%;
    font-family: verdana;
    font-size: 110%
}

/* Navigation box for article links */


li {
    margin: 0 0 3px 0;
}

ul {
    list-style-type: none;
    margin: 0%;
    text-align: left;
    font-family: verdana;
    font-size: 90%;
    padding: 0px;
   
  }

nav {
    margin: 15px;
   }

.navDiv {
    float: left;
    width: 240px;
    border: 2px solid;
    margin: 2px 20px 10px 20px;
    clear: left;
}

#logopic {
    margin: 10px 40px;
    height: 150px;
    width: 150px;
    border: 2px solid;
}

/* Articles --------------------------------*/

/* this encloses the journal articles */

#articleSection {
    float: left;
    width: 70%;
    margin-left: 10px;
    margin-top: 2px;
    }

/* headers inside each article */

h2 {
    margin-top: 0px;
    margin-bottom: 5px;
}

h3 {
    margin-top: 0px;
}

/* space between journal articles */

.journalArticle {
    margin-bottom: 20px;
}

/* footer of each article */

.articleFooter {
    color: #AB79B2;
    font-style: italic;
}

/* floating images right */

.imgDivRight {
    float: right;
}
.imgDivLeft {
    float: left;
}






