ul {
    list-style-type: none;
    margin: 0%;
    text-align: left;
    font-family: verdana;
    font-size: 90%;
    padding: 0px;
   
  }

#navDiv {
    float: left;
    width: 240px;
    border: 1px solid;
    margin: 1% 4%;
}

.imgDivRight {
    float: right;
}

nav {

    margin: 5%;
   
}

section {
	float: left;
	width: 70%;
}